#define MyAppName "招聘市场分析与投递决策系统"
#define MyAppExeName "JobMarketDecisionSystem.exe"
#define MyAppPublisher "JobMarketDecisionSystem Project"

[Setup]
AppId={{9C7AE6E9-8F5C-4E54-94F4-1D749AC62D88}
AppName={#MyAppName}
AppVersion=@@VERSION@@
AppVerName={#MyAppName} V@@VERSION@@
AppPublisher={#MyAppPublisher}
DefaultDirName={localappdata}\Programs\JobMarketDecisionSystem
DefaultGroupName={#MyAppName}
DisableProgramGroupPage=yes
AllowNoIcons=yes
PrivilegesRequired=lowest
ArchitecturesAllowed=x64compatible
ArchitecturesInstallIn64BitMode=x64compatible
OutputDir=@@OUTPUT_DIR@@
OutputBaseFilename=JobMarketDecisionSystem-Setup-v@@VERSION@@
Compression=lzma2
SolidCompression=yes
WizardStyle=modern
SetupLogging=yes
CloseApplications=yes
RestartApplications=no
Uninstallable=yes
UninstallDisplayIcon={app}\{#MyAppExeName}
VersionInfoVersion=@@VERSION_QUAD@@
VersionInfoProductVersion=@@VERSION_QUAD@@
VersionInfoDescription=招聘市场分析与投递决策系统安装程序
VersionInfoProductName={#MyAppName}
VersionInfoCompany={#MyAppPublisher}
ChangesAssociations=no
ChangesEnvironment=no

[Languages]
Name: "english"; MessagesFile: "compiler:Default.isl"

[Tasks]
Name: "desktopicon"; Description: "创建桌面快捷方式"; GroupDescription: "附加任务："; Flags: unchecked

[Files]
Source: "@@SOURCE_DIR@@\*"; DestDir: "{app}"; Flags: ignoreversion recursesubdirs createallsubdirs

[Icons]
Name: "{autoprograms}\{#MyAppName}"; Filename: "{app}\{#MyAppExeName}"; WorkingDir: "{app}"
Name: "{autodesktop}\{#MyAppName}"; Filename: "{app}\{#MyAppExeName}"; WorkingDir: "{app}"; Tasks: desktopicon

[Run]
Filename: "{app}\{#MyAppExeName}"; Description: "启动 {#MyAppName}"; WorkingDir: "{app}"; Flags: nowait postinstall skipifsilent
